
*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --main-color: #8a2be2;
    /* --main-color: #8a2be2; */
    --main-transition: 0.5s;
    --main-padding: 60px;
    --background-color: rgb(5 5 46);
    --second-color: #00ccff; 
    --background-color-section: rgb(1 1 55);
    --white-color: white;
    --main2-color:#8a2be2;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: "cairo" , sans-serif;
    background-color: var(--background-color-section);
}
.switch {
    display: none;
}
.main-heading {
    color: white;
    font-size: 24px;
    padding:10px 30px;
    width: fit-content;
    box-shadow: 0.5px 1px 4px rgb(5 5 28);
    margin: 30px auto;
    position: relative;
    z-index: 999;
    overflow: hidden;
}
.main-heading::before {
    content: "";
    position: absolute;
    height: 480%;
    width: 20px;
    transition: var(--main-transition);
    left: 47%;
    top: -90px;
    background-image: linear-gradient(to bottom, #00ccff, #8a2be2);
    z-index: -1;
    animation: rotate 1.5s infinite linear;
}
.main-heading::after {
    content: "";
    position: absolute;
    inset: 3px;
    background-color: var(--background-color);
    z-index: -1;
}
.main-heading span {
    color: var(--main-color);
    text-shadow: 1px 1px 4px var(--main-color);
}
@keyframes rotate{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.spikes {
    position: relative;
}
.spikes::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 30px;
    background-image: linear-gradient( 50deg, var(--background-color) 25%, transparent 25%), linear-gradient( 307deg, var(--background-color) 25%, transparent 25%);
    background-size: 60px 30px;
    top: -30px;
}
@media(max-width: 676px) {
    .spikes::before {
        content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 30px;
    background-image: linear-gradient(59deg, var(--background-color) 25%, transparent 25%), linear-gradient( 299deg, var(--background-color) 25%, transparent 25%);
    background-size: 30px 30px;
    top: -28px;
    }
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
@media(MIN-WIDTH: 992PX){
    .container{
        width: 970PX;
    }
}
@media(MIN-WIDTH: 1200PX){
    .container{
        width: 1170px;
    }
}
/* start header */
header {
    z-index: 1000;
    position: fixed;
    width: 100%;
    background-color: rgb(16 15 88);
    overflow: hidden;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 767px) {
   header .container {
        flex-direction: column;
    }
}
@media (min-width: 766px) and (max-width: 991px) {
   header .container {
        flex-direction: column;
    }
}
.logo {
    color: var(--main-color);
    text-shadow: 0px 1px 3px var(--main-color);
    font-size: 24px;
    font-weight: bold;
    opacity: 0;
    transition: 0.8s;
}
@media (max-width: 767px) {
    header .logo {
         margin-top: 20px;
         margin-bottom: 12px;
         transform: translateY(5px);
     }
}
.logo span {
    display: inline-block;
    position: relative;
    font-size: 26px;
    color: var(--main-color);
    font-weight: bold;
    animation: up-down 2s infinite ease-in-out;
}
@keyframes up-down {
    0%,40%,100% {
        transform: translatey(0px);
    }
    20% {
        transform: translatey(-15px);
        filter: drop-shadow(0 0 5px var(--main-color));
        box-shadow: 0 10px 0px var(--main-color), 0 -10px var(--main-color);
    }
}
.links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
@media (max-width: 767px) {
    header .links{
         height: 60px;
     }
 }
header .links li {
    padding: 30px 10px;
    position: relative;
    overflow: hidden;
    bottom: -60px;
}
@media (min-width: 767px) and (max-width:991px) {
    header .links li {
        padding: 12px 10px;
    }
    header .links {
        height: 50px;
    }
}
@media (max-width: 767px) {
    header .links li{
         padding: 10px 0;
         margin-top: 15px;
     }
 }
.links li::before {
    content: "";
    position: absolute;
    top: 0;
    left: -130px;
    width: 100%;
    height: 3px;
    background-color: var(--main-color);
    transition: var(--main-transition);
}
.links li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--main-color);
    transition: var(--main-transition);
    bottom: 0;
    right: -130px;
}
.links li:hover::before {
    left: 0;
}
.links li:hover::after {
    right: 0;
}
.links .active a {
    color: var(--main-color);
    text-shadow: 0px 1px 3px var(--main-color);
}
.links .active::before {
    left: 0;
}
.links .active::after {
    right: 0;
}
.links li:hover a {
    color: var(--main-color);
    text-shadow: 0px 1px 3px var(--main-color);
}
.links li a {
    color: white;
    padding: 30px 12px;
    text-decoration: none;
    font-size: 18px;
    transition: var(--main-transition);
}
@media (max-width: 676px) {
    header .links li a{
         padding: 10px 12px;
         font-size: 16px;
     }
 }
 header .container > a {
    display: none;
    padding: 10px 15px;
    width: fit-content;
    border-radius: 10px;
    transition: calc(var(--main-transition) + 0.3s);
    background-image: linear-gradient(to top, var(--main-color), #bd2be2);
    color: white;
    text-decoration: none;
    position: relative;
    top: -80px;
}
header .container > a i {
    margin-right: 5px;
}
@media (MIN-WIDTH: 992px) {
    header .container > a {
        display: inline;
    }
}
header .container > a:hover {
    box-shadow: 1px 1px 10px 1px var(--main-color);
}
header .logo i {
     font-size: 32px;
     color: var(--main-color);
     margin: auto 0 auto 15px;
     animation: 3s rotate3d infinite linear;
}
.header-top {
    display: flex;
    justify-content: space-between;
    width: 346px;
    align-items: center;
    padding: 10px 0;
}
.header-top .me {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #01014b;
    position: absolute;
    right: 0;
    bottom: -130px;
    z-index: -10000;
    opacity: 0;
    transition: var(--main-transition);
}

.me.toggler {
    opacity: 1;
    z-index: 10000;
}

.header-top .me li {
    display: flex;
    align-items:center ;
    transition: 0.8s;
}

.header-top .me li:first-child {
    border-bottom: 1px solid white;
}

.header-top .me li a {
    width: 145px;
    padding: 20px 40px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.8s;
}


.header-top .me li  i {
    color: var(--main-color);
    font-size: 20px;

}

@media (min-width: 768px) and (max-width: 991px) {
    .header-top {
        padding: 30px 0;
        width: 475px;
    }
}
.header-top .menu {
    position: relative;
}
.header-top .menu > i {
    color: white;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid var(--main-color);
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(1 0 76);
}
@media (min-width: 992px) {
    .header-top > .menu {
        display: none;
    }
    .header-top {
        width: fit-content;
    }
}
@keyframes rotate3d {
    from {
        transform: rotate3d(1, 1, 1, 360deg);
    }
    to {
        transform: rotate3d(1, 1, 1, 0deg);
    }
}
@media (max-width: 991px) {
    header i {
        margin-left: 20px;
    }
}
/* end header */
/* start landing */
.landing {
    background-image: url(../images/1680062509034.jpg);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}
@media (max-width: 676px) {
    .landing {
        background-image: url(../images/1680062509034\ -\ Copy.jpg);
        transform: translateY(50px);
    }
}
.landing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    position: relative;
}
@media (max-width: 991px) {
    .landing .container  {
        flex-direction: column;
       justify-content: center;
       padding-bottom: 20px;
    }
}
.landing img {
    height: 350px;
    width: 550px;
    max-width: 100%;
    animation: 3s up-down-landing linear infinite;
    margin-top: 30px;
    z-index: 100;
    position: absolute;
    right: 0;
}
@media (max-width: 991px) {
    .landing img {
        display: none;
    }
}
@keyframes up-down-landing{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}
.landing .container .info {
    display: flex;
    flex-direction: column;
    gap: 190px;
    line-height: 1.8;
    margin-top: 190px;
    position: relative;
}
@media (max-width:676px) {
    .landing .container .info {
        margin-bottom: 50px;
        margin-top: 170px;
    }
}
.landing .container .info p:first-child {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}
@media (max-width:676px) {
    .landing .container .info p:first-child {
        font-size: 24px;
        margin-top: 40px;
    }
}
.landing .container .info .my-info h3 {
    font-size: 40px;
    color: var(--main-color);
    text-shadow: 1px 1px 6px var(--main-color);
}
@media (max-width:676px) {
    .landing .container .info .my-info h3 {
        font-size: 30px;
    }
}
.landing .container .info .animate {
    margin-top: 20px;
    font-size: 30px;
    padding: 0 5px;
    color: white;
    white-space: nowrap;
    position: absolute;
    left: 0;
}

@media (max-width:676px) {
    .landing .container .info .animate {
        font-size: 24px;
        margin-top: 30px;
    }
}
.landing .container .info .animate span {
    color: var(--main-color);
    text-shadow: 1px 1px 6px var(--main-color);
    font-size: 30px;
    font-weight: bold;
    position: relative;
}

.landing .container .info .animate span::after {
    content: "";
    position: absolute;
    right: -10px;
    bottom: 0;
    height: 100%;
    width: 3px;
    background-color: transparent;
    animation:  blink 0.5s infinite;
}

@keyframes blink{
    from {
        background-color: rgba(255, 255, 255, 0.719);
    }
    to {
        background-color: transparent;
    }
}

@media (max-width:676px) {
    .landing .container .info .animate span {
        font-size: 25px;
    }
}
.landing .container .contact {
   transform: translateY(-150px);
   margin-top: 80px;
}

.landing .container .contact > a {
    padding: 10px 25px;
    display: block;
    color: white;
    background-image: linear-gradient(to top, var(--main-color), #bd2be2);
    text-decoration: none;
    transition: var(--main-transition);
    border-radius: 15px;
    width: fit-content;
}

.landing .container .contact > a:hover {
    box-shadow: 1px 1px 10px 1px var(--main-color);
}

.landing .container .contact > a i {
    margin-right: 5px;
}

@media (max-width: 991px) {
    .landing .container .contact > a {
        display: none;
    }

}
.landing .container .contact .My-links {
   margin-top: 50px;
   width: fit-content;
   display: flex;
}
@media (max-width: 991px) {
    .landing .container .contact .My-links {
        margin-top: 10px;
    }
}
.landing .container .contact .My-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--main-transition);
    padding: 15px;
    border-radius: 50%;
    margin-right: 40px;
    color: transparent;
    border: 1px solid var(--main-color);
}
.landing .container .contact .My-links a:hover {
    background-image: linear-gradient(to top, var(--main-color), var(--main2-color));
}   
.landing .container .contact .My-links i {
    transition: var(--main-transition);
    color: var(--main-color);
    font-size: 26px;
    text-align: center;
}
.landing .container .contact .My-links a:hover i {
    color:white; 
}
.landing > a  {
    padding-top: 8px;
    padding-bottom: 6px;
    position: relative;
    left: 50%;
    bottom: 40px;
}
@media (max-width: 676px) {
    .landing > a {
        left: 46%;
        bottom: 85px;
    }
}
.landing > a i {
    font-size: 30px; 
    color: var(--main-color);
    animation: upAndDown 2s infinite;
}
@keyframes upAndDown {
    10%, 30%, 50% {
        transform: translateY(0);
    }
    0%, 20%, 40%, 100% {
        transform: translateY(-5px);
    }
}
/* end landing */
/* start skills */
.skills {
    background-color: var(--background-color);
    padding-top: var(--main-padding);
    padding-bottom: 120px;
    transform: translateY(-2px);
}
.skills .main-heading {
    margin-bottom: 60px;
}
.skills .container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.skills .container .front-skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}
.skills .container .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    position: relative;
    top: -450px;
}
.skills .container .icon:first-child {
    transition: 0.3s;
}
.skills .container .icon:nth-child(2) {
    transition: 0.5s;
}
.skills .container .icon:nth-child(3) {
    transition: 0.8s;
}
.skills .container .icon:nth-child(4) {
    transition: 1s;
}
.skills .container .icon:nth-child(5) {
    transition: 1.2s;
}
.skills .container .icon:nth-child(6) {
    transition: 1.4s;
}
.skills .container .icon:nth-child(7) {
    transition: 1.6s;
}
.skills .container .icon:nth-child(8) {
    transition: 1.8s;
}
.skills .container .icon:nth-child(9) {
    transition: 2.4s;
}
.skills .container .icon:last-child {
    transition: 2.8s;
}
.skills .container .icon:hover {
    width: 100px;
    height: 100px;
    transition: var(--main-transition);
} 
.skills .container .icon h4 {
    opacity: 0;
    transition: var(--main-transition);
    font-size: 16px;
    color: white;
    margin: 0 50px;
    text-align: center;
    font-weight: bold;
    user-select: none;
}
.skills .container .icon:hover i {
    transform: translateY(-50px);
}
.skills .container .icon:hover h4 {
    margin-top: 30px;
    opacity: 1;
}
.skills .container .icon i {
    font-size: 50px;
    transition: var(--main-transition);
    position: absolute;
}

.skills > a {
    padding: 8px;
    position: relative;
    left: 50%;
    border-radius: 50%;
    bottom: -40px;
    border: 1px solid var(--main-color);
}
@media(max-width: 676px) {
    .skills a {
        left: 47%;
    }
}
.skills > a i {
    font-size: 22px;
    text-align: center;
    transform: translateY(3px);
    color: white;
}
.another {
    margin-top: 50px;
}
.skills canvas {
    width: 100%;
    padding: 20px;
    background-color: var(--background-color-section);
    border-radius: 12px;
    margin: 50px 0;
}
@media (max-width: 676px) {
    .skills canvas {
        padding: 20px 20px 20px 0;
    }
}
.ss::before {
    content: "";
    background-image: linear-gradient( 50deg, var(--background-color-section) 25%, transparent 25%), linear-gradient( 307deg, var(--background-color-section) 25%, transparent 25%);
    top: -30px;
}

.services {
    background-color: var(--background-color-section);
    padding-top: var(--main-padding);
    padding-bottom: calc(var(--main-padding) + 80px);
}
.services .main-heading {
    z-index: 0;
}
.services .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    perspective: 400px;
}
@media (max-width: 991px) {
    .services .container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}
@media (min-width: 668px) {
    .services .container {
        margin: 100px auto 20px;
    }
}
.services .container .service-box {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    position: relative;
    border-radius: 12px;
    transform-style: preserve-3d;
    transition: var(--main-transition);
    height: 250px;
}
@media (max-width: 676px) {
    .services .container .service-box {
        margin-top: 30px;
    }
}
.services .container .service-box .front, 
.services .container .service-box .back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    border-radius: 12px;
    transition: calc(var(--main-transition) + 0.5s);
}
.services .container .service-box .front {
    backface-visibility: hidden;
    cursor: pointer;
    border: 3px solid var(--main-color);
}
.services .container .service-box .back {
    text-align: center;
    transform: rotateY(180deg);
    line-height: 1.8;
    font-size: 18px;
    color: white;
    margin: auto 10px;
    background-color: var(--main2-color);
}
.services .container .service-box .back p {
    margin: auto 10px;
    user-select: none;
}
.services .container .service-box i {
    color: var(--main-color);
    font-size: 34px;
    margin-bottom: 10px;
}
.services .container .service-box h3 {
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.services a {
    padding: 8px;
    position: relative;
    left: 50%;
    border-radius: 50%;
    bottom: -80px;
    border: 1px solid var(--main-color); 
}
@media(max-width: 676px) {
    .services a {
        left: 47%;
    }
}
.services i {
    font-size: 22px;
    text-align: center;
    transform: translateY(3px);
    color: white;
}
/* end services */
.gallery {
    padding-top: var(--main-padding);
    padding-bottom: 120px;
    background-color: var(--background-color);
}
.gallery ul {
    margin: 50px auto 50px;
    display: flex;
    padding: 10px;
    /* background-color: var(--background-color-section); */
    width: fit-content;
    list-style: none;
    border-radius: 12px;
}
.gallery ul li {
    padding: 15px 30px;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    background-color: var(--background-color-section);
    transition: var(--main-transition);
}
@media (max-width: 676px) {
    .gallery ul li {
        padding: 10px 20px;
        border-radius: 4px;
    }
}
.gallery ul li:hover {
    background-color: var(--main-color);
    box-shadow: 1px 1px 10px 1px var(--main-color);
}
.gallery ul li:not(:last-child) {
    margin-right: 15px;
}
.gallery ul li.active {
    background-image: linear-gradient(to top, var(--main-color), var(--main2-color));
    box-shadow: 1px 1px 10px 1px var(--main-color);
}
.gallery .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
}

@media (min-width: 678px) and (max-width: 991px) {
    .gallery .container {
        justify-content: center;
    }
}

.gallery .container .box {
    position: relative;
    overflow: hidden;
    height: 210px;
    width: 210px;
    transition: calc(var(--main-transition) + 0.3s);
    background-image: url(../images/7234b497-8741-49eb-903b-9a20c2dcf0c5.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 1199px) and (max-width: 1500px) {
    .gallery .container .box {
        height: 200px;
        width: 200px;
    }
}
.gallery .container .box img {
    width: 180px;
    height: 180px;
    transition: var(--main-transition);
}
.gallery .image {
    overflow: hidden;
}
@media (max-width: 676px) {

    .gallery .container {
        flex-direction: column;
    }
    .gallery .container .box {
        width: 100%;
        height: 300px;
        background-image: url(../images/mob-box.jpeg);
    }
    .gallery .image {
        width: calc(100% - 30px);
        height: calc(100% - 30px);
    }
    .gallery .container .box img {
        width: 100%;
        height: 100%;
    }
}
.gallery .container .box.shrink {
    width: 0;
    padding: 0;
    height: 0;
    border: 0;
    margin: -1em;
}
.gallery .container .box:hover .info {
    top: 0;
}
.gallery .container .box:hover img {
    transform:scale(1.2);
}
.gallery .container .box .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 300px;
    left: 0;
    background-color: rgb(2 2 60 / 50%);
    width: 100%;
    height: 100%;
    transition: var(--main-transition);
}
.gallery .container .box .info .icons {
    display: flex;
    gap: 10px;
}
.gallery .container .box .info .icons i {
    font-size: 24px;
    color: white;
    cursor: pointer;
}
.gallery .container .box .info .icons i:first-child {
    margin-right: 5px;
}
.gallery .container .box .info h3 {
    margin: 0 15px 15px;
    text-align: center;
    color: white;
}
@media (max-width: 676px) {
    .gallery .container .box .info .icons i {
        font-size: 30px;
    }
    .gallery .container .box .info h3 {
        font-size: 24px;
    }
}
.gallery .container .box h3 {
    color: white;
}
.gallery > a {
    padding: 8px;
    position: relative;
    left: 50%;
    border-radius: 50%;
    bottom: -60px;
    border: 1px solid var(--main-color); 
}
@media(max-width: 676px) {
    .gallery > a {
        left: 47%;
    }
}
.gallery > a i {
    font-size: 22px;
    text-align: center;
    transform: translateY(3px);
    color: white;
}
.overley {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(2 2 60 / 50%);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
}
.overley img {
    display: none;
    transition: var(--main-transition);
}
.overley span {
    position: absolute;
    top: 10%;
    width: 45px;
    background-color: var(--main-color);
    height: 6px;
    transform: rotate(52deg);
    right: 13%;
}
.overley span:last-child {
    transform: rotate(130deg);
}
.overley img.active {
    position: relative;
    right: -900px;
    display: inline;
    width: 500px;
    height: 500px;
}
@media (max-width: 676px) {
    .overley img.active {
        width: 330px;
        height: 400px;
    }
}
.about {
    padding-top: var(--main-padding) ;
    padding-bottom: var(--main-padding);
    background-color: var(--background-color-section);
    transform: translateY(-2px);
}
.about .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
@media (max-width: 991px) {
    .about .container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 0;
    } 
}
.about .container .my-advantages {
    padding: 50px 40px;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
    border-radius: 8px;
    background-image: linear-gradient(150deg, var(--background-color), rgb(5 5 64), rgb(2 2 75), rgb(23 11 100));
    margin: 30px 0 50px;
}
@media (max-width: 991px) {
    .about .container .my-advantages {
       width: 100%;
       height: 100%;
       background-image: linear-gradient(to right, var(--background-color), rgb(5 5 64), rgb(2 2 75), rgb(23 11 100));
    } 
}
.about .container .my-advantages h3 {
    color: white;
    margin: 0 auto;
    text-align: center;
    font-size: 28px;
    transition: calc(var(--main-transition) + 0.5s);
    width: fit-content;
    position: relative;
    right: 460px;
}
.about .container .my-advantages h3 span {
    color: var(--main-color);
    position: relative;
    width: fit-content;
}
@keyframes border-effect {
    from {
        border-left-color: rgba(255, 255, 255, 0.712);
    }
    to {
        border-left-color: transparent;
    }
}
.about .container .my-advantages p {
    color: white;
    margin: 30px auto 30px ;
    line-height: 2;
    text-align: center;
    font-size: 22px;
    position: relative;
    left: 650px;
    transition: calc(var(--main-transition) + 0.5s);

}
@media (max-width: 676px) {
    .about .container .my-advantages p {
        margin-top: 30px;
        margin-bottom: 40px;
       
    } 
}
.about .container .my-advantages a {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to top, var(--main-color), var(--main2-color));
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 1px 1px 6px var(--main-color);
    position: relative;
    right: 220px;
    transition: calc(var(--main-transition) + .5s);
}
@media (max-width: 991px) {
    .about .container .my-advantages a  {
        display: block;
        width: fit-content;
        margin: 0 auto;
    } 
}
.about > a {
    padding: 8px;
    position: relative;
    left: 50%;
    border-radius: 50%;
    bottom: -80px;
    border: 1px solid var(--main-color);
}
@media(max-width: 676px) {
    .about > a {
        left: 47%;
    }
}
.about > a i {
    font-size: 22px;
    text-align: center;
    transform: translateY(3px);
    color: white;
}
.about .container .my-information {
    width: 100%;
}
.about .container .my-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.about .container .my-details .details {
     width: 100%; 
     display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    border: 1px solid var(--main-color);
    margin-bottom: 20px;
    padding: 30px 50px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    transition: var(--main-transition);
    background-image: linear-gradient(120deg, var(--background-color), rgb(5 5 64), rgb(2 2 75));
}
.about .container .my-details .details a {
    padding: 15px;
    border-radius: 10px;
    display: block;
    margin-right: 20px;
    background-image: linear-gradient(to top, var(--main-color), var(--main2-color));
    box-shadow: 1px 1px 5px var(--main-color);
}
.about .container .my-details .details:last-child a {
    padding: 15px 28px;
}
.about .container .my-details .details a i {
    color: white;
    font-size: 30px;
}
.about .container .my-details .details .mini {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    width: 130px;
    transition: var(--main-transition);
}
.about .container .my-details .details .mini h3 {
    font-size: 16px;
    color: white;
}
.about .container .my-details .details  p {
    color: var(--main-color);
    margin-top: 20px;
    line-height: 1.8;
    transition: calc( var(--main-transition) + 0.2s);
    text-shadow: 1px 1px 3px var(--main-color);
    font-size: 24px;
}
@media (max-width: 991px) {
    .about .container .my-details .details  p {
        font-size: 30px;
    }
}
/* start footer */
.footer {
    background-color: rgb(2 2 48);
    padding-top: var(--main-padding);
    padding-bottom: calc( var(--main-padding) + 20px);
    text-align: center;
    position: relative;
    top: -4px;
}
.footer .LOGO {
    color: var(--main-color);
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.footer .container .My-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 10px;
}
.footer .container .my-links-footer h3 {
    color: white;
    font-size: 24px;
    margin-top: 40px;
    border-bottom: 1px solid var(--main-color);
    width: fit-content;
    margin: 20px auto 0;
    padding-bottom: 5px;
    border-radius: 4px;
}
.footer .container .My-links a {
    padding: 10px;
    margin: 20px 0 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.footer .container .My-links a:first-child {
    background-color: rgb(24, 22, 22); 
}
.footer .container .My-links a i {
    color: white;
    font-size: 28px;

}
.footer .container .My-links  a:nth-child(2) {
    background-color: #0072b1 ;
}
.footer .container .My-links  a:nth-child(3) {
    background-color: #25d366;
}  
.footer .container p {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 22px;
    background-color: rgb(2 2 45);
    width: 100%;
    padding: 25px 0;
}
@media(max-width: 676px) {
    .footer .container p {
        font-size: 13px;
    }
}
.footer .container p span{
    font-size: 28px;
    color: var(--main-color);
    text-shadow: 1px 1px 4px var(--main-color);
 
}
@media(max-width: 676px) {
    .footer .container p span {
        font-size: 16px;
    }
}

/* scroll bar handle */

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: rgb(2 2 48);
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 10px;
    box-shadow: 0px 2px 20px 20px var(--main-color);
}

.gallery .info > a {
    display: block;
    padding: 5px 12px;
    margin: 5px 0 20px;
    color: white;
    background-color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    width: fit-content;
    border-radius: 6px;
}

/* change color */
.change-theme {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 0;
    background-color: rgb(8 8 92);
}

@media (min-width: 992px) {
    .change-theme {
        display: none;
    }
}

.change-theme span {
    font-size: 24px;
    color: white;
    padding: 10px 12px;
    background-color: rgb(8 8 92);
}

.change-theme span i {
    transition: var(--main-transition);
}

.change-theme span i.active {
    transform: rotate(180deg);
} 

.change-color.active {
    display: flex;
}

.change-color {
    display: none;
    flex-direction: column;
    align-items: center; 
    list-style: none;
    gap: 10px;
    padding: 20px 10px;
}

.change-color li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.change-color li:first-child.active {
    box-shadow: 0 0 5px 1px #8a2be2;
}
.change-color li:last-child.active {
    box-shadow: 0 0 5px 1px #00ccff;
}
.change-color li.active {
    opacity: 1;
}

.change-color li:first-child {
    background-color: #8a2be2;
}
.change-color li:last-child {
    background-color: #00ccff;
}
